*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-BlackItalic.ttf);

}
header{
    position: fixed;
    background-color: rgba(255, 255, 255, .1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 5s;
    .brand{
        color: #fff;
        font-size: 32px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
    }
   .navigation{
    position: relative;
    a{
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        text-decoration: none;
        margin-left: 30px;
        transition: .5s ease;
        &:hover{
          color: crimson;  
        }
    }
   }
   
}
section{
    padding: 100px;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/images/bn.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .content{
     max-width: 88px;
     h2{
        color: #fff;
        font-size: 32px;
        font-weight: 500;
        span{
            font-size: 60px;
            font-weight: 600;
        }
     }   
     .animated-text {
        width: 300px;
        height: 70px;
        position: relative;
        overflow: hidden;
     h3{
        color: crimson;
        font-size: 46px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: 1px;

        &:nth-child(1){
            animation: text-move 10s infinite ;
        }

        }}
        .btn{
            width: 150px;
          color: #fff;
          background-color: crimson;
          font-size: 17px;
          font-weight: 600;
          display: inline-block;
          padding:  10px 20px;
          text-transform: uppercase;
          text-decoration: none;  
          border-radius: 7px;
          margin-top: 30px;
          transition: .5s ease;
          &:hover{
            background: #279b5b;
            color: #000;
            letter-spacing: .2rem;
          }
        }
    .media-icons {
        margin-top: 30px;
        display: flex;
        gap: 30px;
        a{
            font-size: 25px;

        }

    }
    
    
    }
    
    
}
@keyframes text-move{
    0%{
        margin-top: 0;
    }
    25%{
       margin-top: -70px; 
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0;
    }
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .section-title{
        position: relative;
        color: crimson;
        font-size: 38px;
        font-weight: 800;
        margin-bottom: 60px;
        &::after{
            content: b;
        }
       

    }
}
.about{
   .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .col-right{
        position: relative;
        width: 45%;
        .btn{
            width: 150px;
            color: #fff;
            background-color: crimson;
            font-size: 17px;
            font-weight: 600;
            display: inline-block;
            padding:  10px 20px;
            text-transform: uppercase;
            text-decoration: none;  
            border-radius: 7px;
            margin-top: 30px;
            transition: .5s ease;

        }
        .content-title{
            font-size: 36px;
            font-weight: 800;
            margin-bottom: 20px;
        }
        .paragriff-text{
          font-size: 17px;  
        }
    }
    
    .col-left{
       position: relative;
       width: 45%;
       .img-card{
        position: relative;
        width: 100%;
        min-height: 450px;
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
       }
    }}

}
.skills{
    background: #000016;
    .content{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top: 20px;
        .col-left{
         position: relative;
         width: 45%;
         .btn{
            width: 150px;
            color: #fff;
            background-color: crimson;
            font-size: 17px;
            font-weight: 600;
            display: inline-block;
            padding:  10px 20px;
            text-transform: uppercase;
            text-decoration: none;  
            border-radius: 7px;
            margin-top: 30px;
            transition: .5s ease;
 
         } 
         .content-title{
            margin-bottom: 20px;
         }  
        }
    
        .col-right{
            position: relative;
            width: 45%;
            .bar{
                margin-bottom: 15px;
                padding: 10px;
                .info{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    span{
                        font-size: 18px;
                        font-weight: 500;

                    }
                }
                .line-html{
                    position: relative;
                    width: 100%;
                    height: 15px;
                    background: #ccc;
                    border-radius: 2px;
                    &::before{
                     
                     position: absolute;
                     height: 100%;
                     top: 0;
                     left: 0;
                     border-radius: 2px;   
                    }
                    &::after{
                        width: 95%;
                        background-color: #E45126;
                    }
                }
               .line{
                position: relative;
                width: 100%;
                height: 15px;
                background: #ccc;
                border-radius: 2px;
                
               }
            
            }

        }
    
    }

}
.services {
   
    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        .title{
    
            p{
                width: 80%;
    
            }
        }
        .card{
            background-color: #a39e9e;
            width: 300px;
            margin: 10px;
            padding: 25px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 5px 25px rgba(1 1 1/15%);
            border-radius: 10px;
            .info{
               text-align: center; 
               h3{
                color: crimson;
                font-size: 20px;
                font-weight: 700;
                margin: 10px;
               }
            }
            .service-icon{
                color: #fff;
                font-size: 100px;
                text-align: center;
                &:hover{
                    transform: translateY(-10px);
                    transition: 2s;

                }

            }
        }
       
    }
}
.work{
   background-color:#000016; 
   .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    .card{
        width: 340px;
        margin: 15px;
        .card-img{
            position: relative;
            width: 100%;
            height: 260px;
            border-radius: 10px;
            overflow: hidden;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                &:hover{
                    transform: scale(1.2);
                    transition: 2s ease;
                }
            }
        }
    }
    .btn{
        width: 150px;
            color: #fff;
            background-color: crimson;
            font-size: 17px;
            font-weight: 600;
            display: inline-block;
            padding:  10px 20px;
            text-transform: uppercase;
            text-decoration: none;  
            border-radius: 7px;
            margin-top: 30px;
            transition: .5s ease;

    }

   }
}
.contact{

   .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        .card{
            background-color: #fff;
            width: 240px;
            margin: 20px;
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 5px 25px rgba(1 1 1 /15%);
            border-radius: 10px;
            h3{
                font-size: 20px;
            }
                span{
                    color: #666;
                    font-size: 17px;
                    font-weight: 300;
                }
            
            .contact-icon{
                color: crimson;
                font-size: 60px;
                text-align: center;
                &:hover{
                    transform: translateY(-10px);
                    transition:  transform 2s ease;
                }
            }
        }
    }
    .contacy-form{
        background-color:#fff;
        max-width: 600px;
        margin-top: 50px;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(1 1 1 /15%);
        h3{
         color: #111;
         font-size: 25px;
         font-weight: 400;
         text-align: center;
         margin-bottom: 40px;   
        }
        .input-box{
           position: relative;
           width: 100%;
           margin-bottom: 20px;
           input{
            color: #111;
            width: 100%;
            font-size: 17px;
            padding: 10px;
            outline: none;
            font-weight: 300;
            border: 1px solid #111;
            border-radius: 5px;
            resize: none;
           } 
           .send-btn{
            color: #fff;
            background-color: crimson;
            display: inline-block;
            font-size: 19px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 100%;
            border: none;
            cursor: pointer;
            &:hover{
                transition: 2s ease;
                background-color: green;
                color: yellow;
            }
           }
        }
       }
   } 
   
}
footer{
    background-color: #000016;
    color: #fff;
    text-align: center;
    padding: 34px;
    .footer-title{
        font-size: 20px;
        font-weight: 500;

    }
    p{
        font-size: 10px;


    }
}
@media (max-width: 1049px){
    header{
        padding: 12px 20px;
        .menu-btn{
         position: absolute;
         background: url() no-repeat ; 
         background-position: center;
         width: 40px;
         height: 4opx;
         right: 0;
         margin: 0 20px;
         cursor: pointer; 
         transition:  4s ease; 
        }
        .navigation{
            display: none;
        }
    }
    section{
        padding: 80px 20px;
    }
    .main{
        .content{
            h2{
              font-size: 25px;  
            }
            h3{
                font-size: 30px;
            }
        }
    }
    .section-title{
       font-size: 40px; 
    }
    .about .content{
        flex-direction: column;
        .column{
            position: relative;
            width: 100%;

        }
        .col-right{
            margin-top: 40px;
        }
    }
    .skills{
        .content{
            flex-direction: column;
            .column{
                position: relative;
                width: 100%;
            }
            .col-right{
                margin-top: 40px;
            }
        }
    }
    
}